@inherits LayoutComponentBase
@using BlazorApp2.Client.UIThemeClasses
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <CascadingValue Value="theme">
            <div class="content px-4">
                @Body
            </div>
    </CascadingValue>
</div>


@code {
    private ThemeInfo theme = new ThemeInfo { ButtonClass = "btn-info" };
}
